{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}"></script>
        <link rel="stylesheet" href="{% static "styles/communityfund.css" %}"></script>
        <script type="text/javascript" src="{% static "scripts/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "scripts/bootbox.min.js" %}"></script>
        <script type="text/javascript" src="{% static "scripts/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "scripts/ajax.js" %}"></script>

        <script type="text/javascript">
            $(function() {
                $.fm({debug: true});
            });
        </script>
    </head>

    <header>
        <h1><a href="/">CommunityFund</a></h1>
    </header>

    <body>
        <section id="content">
            {% block content %}
            {% endblock %}
        </section>
    </body>

    <footer id="footer">
        <p>
            {% if user.is_authenticated %}
                <a id="profile" href="{% url 'user_profile' slug=user.username %}">My Profile</a>
                <a href="{% url 'community_create' %}" class="fm-create" data-fm-head="Create a New Community" data-fm-callback="redirect" data-fm-target="{% url 'user_profile' slug=user %}#communities">Create Community</a>
                <a id="logout" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a id="login" href="{% url 'login' %}">Login</a>
                <a id="register" href="{% url 'register' %}">Register</a>
            {% endif %}
        </p>
    </footer>
    {% include "fm/modal.html" %}

</html>
