{% load static %}

<html>
    <head>
        <script type="text/javascript" src="{% static "scripts/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "scripts/angular.min.js" %}"></script>
        <script type="text/javascript" src="{% static "scripts/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "scripts/ajax.js" %}"></script>
    </head>

    <header>
        <h1><a href="/">CommunityFund</a></h1>
    </header>

    <body>
        {% block content %}
        {% endblock %}
    <body>
    
    <footer>
        <p>
            {% if user.is_authenticated %}
                <a id="profile" href="{% url 'user_profile' slug=user.username %}">My Profile</a>
                <a id="community_create" href="{% url 'community_create' %}">Create Community</a>
                <a id="logout" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a id="login" href="{% url 'login'  %}">Login</a>
                <a id="register" href="{% url 'register' %}">Register</a>
            {% endif %}
        </p>
    </footer>

</html>
