{% extends "base.html" %}

{% block content %}

<h2>{{ object.name}}</h2>
{{ object.location }}<br>
{{ object.interests }}<br>
<br>

<!--
{% block projects %}
{% endblock %}
-->

<h2>Projects</h2>
{% for post in projects %}
    <li>
        <a href="{% url 'project_details' pk=post.pk cid=object.pk %}">
            {{ post.name }} by {{ post.initiator }}
        </a>
    </li>
{% endfor %}

<footer>
    <p>
        <a id="project_create" href="{% url 'project_create' pk=object.pk %}">Create Project</a>
        Filter Projects
    </p>
</footer>


{% endblock %}
