{% extends "base.html" %}

{% block content %}

{% csrf_token %}
{% if user.is_authenticated %}
<div class="col-md-8 center page-content">
    {% if user == object.creator %}
        <div class="row">
            <p><a href="{% url 'comm_update' pk=object.pk %}" class="fm-update" data-fm-head="Update your Community" data-fm-callback="reload">Update {{ object.name }}</a></p>
        </div>

        <hr>
    {% endif %}

    <div class="row">
        <h1 class="info">{{ object.name }}</h1>
        <p class="lead info">Located in {{ object.location }}</p>
    </div>

    <hr>

    <ul class="nav nav-pills">
        <li class="active"><a href="#about" role="tab" data-toggle="tab">About</a></li>
        <li><a href="#projects" role="tab" data-toggle="tab">Projects</a></li>
        <li><a href="#comments" role="tab" data-toggle="tab">Message Board</a></li>
        <li><a href="#members" role="tab" data-toggle="tab">Members</a></li>
    </ul>

    <hr>

    <div class="tab-content">
        <div id="about" class="row tab-pane active">
            <div class="table">
                <div class="table-cell col-md-8">
                    <p class="lead">Community Interests</p>
                    <ul id="interests">
                        {% for i in object.interests %}
                            <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="stats" class="table-cell col-md-4">
                    <div class="num h1 bold">{{ projects|length }}</div>
                    <span class="bold h5">projects started</span>

                    <div class="num h1 bold">{{ members|length }}</div>
                    <span class="bold h5">users are members of {{ object.name }}</span>

                    {% if user.is_authenticated %}
                        {% if not is_member %}
                            <div class="inline-block button-wrapper">
                                <a id="join_comm" name="{{ object.pk }}" class="btn btn-primary">Join Community</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    

        <!-- Projects -->
        <div id="projects" class="row center tab-pane">
            {% if is_member %}
                <div class="inline-block button-wrapper">
                    {% if profile.cc_number %}
                        <a href="{% url 'project_create' pk=object.pk %}" class="fm-create btn btn-primary" data-fm-head="Create your Project" data-fm-callback="reload">
                            Start a Project
                        </a>
                    {% else %}
                        <a id="project_start" class="btn btn-primary">
                            Start a Project
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if projects %}
                {% for project in projects %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{% url 'user_profile' slug=project.initiator.username %}" class="pull-right">
                                Posted by {{project.initiator }}
                            </a>
                            <h5><a href="{% url 'project_details' pk=project.pk cid=object.pk %}">{{ project.name }}</a></h5>
                        </div>

                        <div class="panel-body">
                            ${{ project.current_funds }} raised out of ${{ project.funding_goal }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <span class="bold h5">Nobody has started a project yet.</span>
            {% endif %}
        </div>

        
        <!-- Members -->
        <div id="members" class="row center tab-pane">
            {% for member in members %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{% url 'user_profile' slug=member.user.username  %}">{{ member.user.username }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Comments -->
        <div id="comments" class="row tab-pane">
            {% if is_member %}
                <div class="inline-block button-wrapper">   
                    <a id="add_cmnt" name="{{ object.pk }}" class="btn btn-primary">Post a Message</a>
                </div>
            {% endif %}

            <div class="list-group">
                {% if cmnt_list %}
                    {% for comment in cmnt_list %}
                        <li class="list-group-item">
                            <span class="pull-right h6 date">{{ comment.pub_date }}</span>
                            <a href="{% url 'user_profile' slug=comment.user.username  %}">{{ comment.user.username }} says:</a>
                            <p class="message">
                                {{ comment.text }}
                            </p>
                        </li>
                    {% endfor %}
                {% else %}
                    <span class="bold h5">There are no messages on this message board.</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
