{% extends "base.html" %}

{% block content %}

{% csrf_token %}
{% if user.is_authenticated %}
<div class="row row-offcanvas row-offcanvas-left">
    <!-- side bar -->
    <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12">
            <ul class="nav nav-sidebar">
                <li>
                {% if not is_member %}
                    <a id="join_comm" name="{{ object.pk }}">Join {{ object.name }}</a>
                {% else %}
                    <a>My Contributions</a>
                {% endif %}
                </li>

                <li>
                    <a href="{% url 'project_create' pk=object.pk %}" class="fm-create" data-fm-head="Create a Project" data-fm-callback="redirect" data-fm-target="{% url 'community_details' pk=object.pk %}#projects">
                        Create a New Project
                    </a>
                </li>

                <li>
                    <a id="add_cmnt" name="{{ object.pk }}">Post a Comment</a>
                </li>
            </ul>

            <ul class="nav nav-sidebar">
                <li><a href="#projects">Projects</a></li>
                <li><a href="#comments">Comments</a></li>
            </ul>

            {% if object.creator == user %}
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="{% url 'comm_update' pk=object.pk %}" class="fm-update" data-fm-head="Update your Community" data-fm-callback="reload">
                            Update {{ object.name }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>

    <!-- main section -->
    <div id="main">
        <div class="col-md-12">

            <!-- Header -->
            <div class="row">
                <h1 class="page-header">{{ object.name }}</h1>
                <p class="lead">Located in {{ object.location }}</p>
                <p class="lead">Interests:</p>
                <ul id="interests">
                    {% for i in interests %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div id="middle" class="col-md-8">
                <div class="row">

                    <!-- Projects -->
                    <div id="projects" class="card">
                        <h2>Projects</h2>
                        {% for project in projects %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{% url 'user_profile' slug=project.initiator.username %}" class="pull-right">
                                        Posted by {{project.initiator }}
                                    </a>
                                    <h4><a href="{% url 'project_details' pk=project.pk cid=object.pk %}">{{ project.name }}</a></h4>
                                </div>

                                <div class="panel-body">
                                    ${{ project.current_funds }} raised<br>
                                    ${{ project.funding_goal }} needed<br>
                                    
                                </div>
                            </div>
                        {% endfor %}
                    </div>
             
                    <!-- Comments -->
                    <div id="comments" class="card">
                        <h2>Comments</h2>
                        {% for cmnt in cmnt_list %}

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{% url 'user_profile' slug=cmnt.user.username %}">
                                    {{ cmnt.user.username }} says:
                                </a>
                                <span class="pull-right">on {{ cmnt.pub_date }}</span>
                            </div>
                            <div class="panel-body">
                                {{ cmnt.text }}
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- members list -->
            <div class="col-md-3">
                <div class="panel panel-default card">
                    <h3>Members</h3>

                    <div class="panel-body">
                        <div class="list-group">
                            {% for member in members %}
                                <li class="list-group-item">
                                <a href="{% url 'user_profile' slug=member.user.username  %}">{{ member.user.username }}</a>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
