{% if comm.count > 0 %}
    {% if comm.count == 1 %}
        Found {{ comm.count }} community with "{{ search_text }}" listed in their interests or location.
    {% else %}
        Found {{ comm.count }} communities with "{{ search_text }}" listed in their interests or location.
    {% endif %}

    {% for c in comm %}
        <li>
            <a href="{% url 'community_details' pk=c.pk %}">
                {{ c.name }}
            </a>
        </li>
    {% endfor %}

{% else %}
    No communities were found with "{{ search_text }}" listed as an interest or location.
{% endif %}
