{% extends "base.html" %}

{% block content %}

<h2>Profile: {{ profile.username }}</h2>
Email: {{ profile.email }}<br>
Location: {{ profile.location }}<br>
Interests: {{ profile.interests }}<br>
Rating: {{ rating.rating__avg }} ({{ num_ratings.rating__count }} ratings) <br>

{% if user.username == profile.user.username %}
<a href="{% url 'user_profile_edit' pk=user.id %}">Edit Profile</a><br>
<br>
My Projects:
{% for p in projects %}
    <li>
        <a href="{% url 'project_details' cid=p.community.id pk=p.pk %}">
            {{ p.name }} - ${{ p.current_funds }} out of ${{ p.funding_goal }}
        </a>
    </li>
{% endfor %}
{% endif %}

{% endblock %}
