{% extends "base.html" %}

{% block content %}

<h2>Profile: {{ user.username }}</h2>
Email: {{ user.email }}<br>
Location: {{ profile.location }}<br>
Interests: {{ profile.interests }}<br>

<a href="{% url 'edit_profile' %}">Edit Profile</a><br>

<br>
My Projects:
{% for p in projects %}
    <li>
        <a href="{% url 'project_details' cid=p.community.id pk=p.pk %}">
            {{ p.name }} - ${{ p.current_funds }} out of ${{ p.funding_goal }}
        </a>
    </li>
{% endfor %}

{% endblock %}