{% extends "base.html" %}

{% block content %}

<h1>{{ object.name}}</h1>
Initiator: <a href="{% url 'user_profile' slug=object.initiator  %}">{{ object.initiator }}</a><br>
Community: <a href="{% url 'community_details' pk=object.community.id  %}">{{ object.community }}</a><br>
Description: {{ object.description }}<br>
Funding Goal: {{ object.funding_goal }}<br>
Current Funds: {{ object.current_funds }}<br>
Publication Date: {{ object.pub_date }}<br>

<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" 
        aria-valuenow="{{ object.current_funds }}" aria-valuemin="0" 
        aria-valuemax="{{ object.funding_goal }}" style="width:{{ percentage }}%">
        ${{ object.current_funds }} raised out of ${{ object.funding_goal }}
    </div>
</div>

{% if object.current_funds == object.funding_goal %}
    Project Rating: {{ rating }} ({{ num_ratings }} ratings)<br>
{% endif %}

<footer>
    {% if user.is_authenticated %}
    <p>
        {% if user == object.initiator %}
            <a href="{% url 'project_update' cid=object.community.id pk=object.pk %}" class="fm-update" data-fm-head="Update your Project" data-fm-callback="reload">Update Project</a>

            <a id="view_funders" href="{% url 'funders_view' cid=object.community.id pk=object.pk %}">View Funders</a>
            
            <a href="{% url 'project_delete' cid=object.community.id pk=object.pk %}" class="fm-delete" data-fm-head="Delete this Project" data-fm-callback="redirect" data-fm-target="{% url 'community_details' pk=object.community.id %}">Delete Project</a>

        {% elif is_member %}
        
            {% if object.current_funds < object.funding_goal %}
                <a href="{% url 'fund_project' cid=object.community.id pk=object.pk %}" class="fm-create" data-fm-head="Fund this Project" data-fm-callback="reload">Fund Project</a>
            {% elif did_fund and not did_rate_project %}
                <a href="{% url 'rate_project' cid=object.community.id pk=object.pk %}" class="fm-create" data-fm-head="Rate this Project" data-fm-callback="reload">
                    Rate Project
                </a>
            {% endif %}

            {% if not did_rate_user and did_fund %}
                <a href="{% url 'rate_init' cid=object.community.id pk=object.pk %}" class="fm-create" data-fm-head="Rate the Project Initiator" data-fm-callback="reload">
                    Rate Initiator
                </a>
            {% endif %}

        {% endif %}

    </p>
    {% endif %}
</footer>


{% endblock %}
