{% extends "base.html" %}

{% block content %}

<h1>{{ object.name}}</h1>
Initiator: {{ object.initiator }}<br>
Community: {{ object.community }}<br>
Description: {{ object.description }}<br>
Funding Goal: {{ object.funding_goal }}<br>
Current Funds: {{ object.current_funds }}<br>
Publication Date: {{ object.pub_date }}<br>

<footer>
    {% if user.is_authenticated %}
    <p>
        {% if user == object.initiator %}
            <a id="update_project" href="{% url 'project_update' cid=object.community.id pk=object.pk %}">Edit Project</a>
            <a id="delete_project" href="{% url 'project_delete' cid=object.community.id pk=object.pk %}">Delete Project</a>
            Rate Funders
        {% else %}
        

            <a id="fund_project" href="{% url 'fund_project' cid=object.community.id pk=object.pk %}">
                Fund Project
            </a>
            Rate Initiator
        {% endif %}
        
        <!-- Once the funds have been reached -->
        Rate Project

    </p>
    {% endif %}
</footer>


{% endblock %}
