Django==1.7
PyRSS2Gen==1.0.0
Twisted==12.2.0
altgraph==0.10.1
amqp==1.4.6
anyjson==0.3.3
bdist-mpkg==0.4.4
billiard==3.3.0.18
cql==1.4.0
cqlengine==0.19.0
django-appconf==0.6
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
django-extensions==1.4.5
django-floppyforms==1.2.0
django-fm==0.1.9
django-mptt==0.6.1
django-registration==1.0
django-registration-redux==1.1
django-user-accounts==1.0
djangotoolbox==1.6.2
futures==2.2.0
gunicorn==19.3.0
kombu==3.0.23
modulegraph==0.10.1
psycopg2==2.5.4
py2app==0.7.1
pyOpenSSL==0.13
pyobjc-core==2.3.2a0
pyobjc-framework-AddressBook==2.3.2a0
pyobjc-framework-AppleScriptKit==2.3.2a0
pyobjc-framework-AppleScriptObjC==2.3.2a0
pyobjc-framework-Automator==2.3.2a0
pyobjc-framework-CFNetwork==2.3.2a0
pyobjc-framework-Cocoa==2.3.2a0
pyobjc-framework-Collaboration==2.3.2a0
pyobjc-framework-CoreData==2.3.2a0
pyobjc-framework-CoreLocation==2.3.2a0
pyobjc-framework-CoreText==2.3.2a0
pyobjc-framework-DictionaryServices==2.3.2a0
pyobjc-framework-ExceptionHandling==2.3.2a0
pyobjc-framework-FSEvents==2.3.2a0
pyobjc-framework-InputMethodKit==2.3.2a0
pyobjc-framework-InstallerPlugins==2.3.2a0
pyobjc-framework-InstantMessage==2.3.2a0
pyobjc-framework-InterfaceBuilderKit==2.3.2a0
pyobjc-framework-LatentSemanticMapping==2.3.2a0
pyobjc-framework-LaunchServices==2.3.2a0
pyobjc-framework-Message==2.3.2a0
pyobjc-framework-OpenDirectory==2.3.2a0
pyobjc-framework-PreferencePanes==2.3.2a0
pyobjc-framework-PubSub==2.3.2a0
pyobjc-framework-QTKit==2.3.2a0
pyobjc-framework-Quartz==2.3.2a0
pyobjc-framework-ScreenSaver==2.3.2a0
pyobjc-framework-ScriptingBridge==2.3.2a0
pyobjc-framework-SearchKit==2.3.2a0
pyobjc-framework-ServiceManagement==2.3.2a0
pyobjc-framework-SyncServices==2.3.2a0
pyobjc-framework-SystemConfiguration==2.3.2a0
pyobjc-framework-WebKit==2.3.2a0
pyobjc-framework-XgridFoundation==2.3.2a0
python-dateutil==1.5
pytz==2014.7
scipy==0.11.0
six==1.8.0
sqlparse==0.1.13
thrift==0.9.1
waitress==0.8.9
wsgiref==0.1.2
xattr==0.6.4
zope.interface==3.8.0
