Django==1.7
PyRSS2Gen==1.0.0
Twisted==12.2.0
altgraph==0.10.1
amqp==1.4.6
anyjson==0.3.3
bdist-mpkg==0.4.4
billiard==3.3.0.18
cql==1.4.0
cqlengine==0.19.0
django-appconf==0.6
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
django-extensions==1.4.5
django-floppyforms==1.2.0
django-fm==0.1.9
django-registration==1.0
django-registration-redux==1.1
djangotoolbox==1.6.2
futures==2.2.0
gunicorn==19.3.0
kombu==3.0.23
modulegraph==0.10.1
psycopg2==2.5.4
py2app==0.7.1
pyOpenSSL==0.13
python-dateutil==1.5
pytz==2014.7
scipy==0.11.0
six==1.8.0
sqlparse==0.1.13
thrift==0.9.1
waitress==0.8.9
wsgiref==0.1.2
xattr==0.6.4
