Django==1.7
dj-database-url==0.3.0
django-appconf==0.6
django-contrib-comments==1.5
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
django-extensions==1.4.5
django-floppyforms==1.2.0
django-fm==0.1.9
django-registration==1.0
django-registration-redux==1.1
django-user-accounts==1.0
djangotoolbox==1.6.2
futures==2.2.0
gunicorn==19.3.0
httplib2==0.9
psycopg2==2.5.4
python-dateutil==1.5
pytz==2014.7
sqlparse==0.1.13
waitress==0.8.9
whitenoise==1.0.6
wsgiref==0.1.2
xattr==0.6.4
django-multiselectfield==0.13
