#content {
    padding-left: 0px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#search_container {
}

#main {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#interests li {
    display: inline;
    padding-right: 20px;
}

.side-by-side {
    margin: 0px 10px 0px 10px;
}

.info {
    text-align: center;
}

.date {
    margin-top: -2px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.button-wrapper {
    margin: 20px 10px 20px 0px;
}

.long-text {
    word-wrap: break-word;
}

.panel-default > .panel-heading {
    background-color: #E3F2FD;
}

* {
    border-radius: 0 !important;
    word-wrap: break-word;
}