#content {
    padding-left: 0px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#search_container {
}

.progress {
    width: 70%;
}

#middle {
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

* {
    border-radius: 0 !important;
}

#main {
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: 85%;
    overflow: scroll;
    background-color: #EEEEEE;
}


.panel-body {
    word-wrap: break-word;
}

#interests li {
    display: inline;
    padding-right: 20px;
}
